node_modules/
npm-debug.log

/*.env

!uploads/

uploads/*
!uploads/.gitkeep

!uploads/categories/
uploads/categories/*
!uploads/categories/.gitkeep

!uploads/storage/
uploads/storage/*
!uploads/storage/.gitkeep

*.sqlite

.DS_Store
