node_modules/
npm-debug.log

!build/

build/*
!build/src/database/database.sqlite

/*.env

!uploads/

uploads/*
!uploads/.gitkeep

!uploads/categories/

!uploads/storage/
uploads/storage/*
!uploads/storage/.gitkeep

.DS_Store
